/************************* common***************************/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Kufam&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Cormorant', serif; font-family: 'Abel', sans-serif; font-family: 'Montserrat', sans-serif;
font-family: 'Gruppo', cursive; font-family: 'Noto Sans KR', sans-serif; */

body {width: 100vw; max-width: 1920px; position: relative; }
h1 {font-family: 'Cormorant', serif;}
.wrappersm {max-width: 1300px; margin: 0 auto;}
a:link {color: #222;}
a:link {color: #222;}
a:visited {color: #222;}
.pointer {cursor: pointer;}
.mini-navi {display: flex; justify-content: space-between; align-items: center; font-size: 0.725rem; margin: 0 4rem;  padding:2rem 0;} 
.copyright {padding: 1rem 0; font-family: 'Abel', sans-serif; text-align: center; margin: 0 auto; margin-top: 2rem; margin-bottom: 1rem; color: green; border: 1px solid green; border-radius: 70%; width: 15%;}
.things {color: #333; font-family: 'Gruppo', cursive; font-size: 1.25rem; font-weight: 300;}
.little {color: #444; font-family: 'Montserrat', sans-serif; font-size: 0.825rem;}
/************************* about ***************************/
.about {/* border: 1px solid blue; */ font-family: 'Cormorant', serif;}
.about > .about-title {color: red; width: 30%; text-align: center; border: 1px solid red; border-radius: 70%; font-size: 5rem; margin-left: 10rem;}
.about > .about-desc {/* border: 1px solid black; */ width: 66%; float: right; }
.about-info {color: #6e8cb6; font-family: 'Gruppo', cursive; font-size: 2rem; margin: 1.5rem 0; }


.about .about-intro {color: #333; text-align: center;}
.about-intro > h1 {font-family: 'Gruppo', cursive; margin-bottom: 0.5rem; }
.about-intro > p {font-family: 'Noto Sans KR', sans-serif; font-size: 0.7rem; color: #555;}

.box > p {color: #444; font-family: 'Montserrat', sans-serif; font-size: 0.825rem;}


/************************* about-skill ***************************/
.about-skill {margin-right: 2rem; padding-bottom: 2.5rem; border-bottom: 1.25px dotted #ff0000;}
.about-skill, .about-contact {
 /*  border: 1px solid black; */
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between
}
.about-skill .box {
  margin-bottom: 0.725rem;
}
.about-skill .graphs {
  width: 240px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.about-skill .graph {
  padding: 7px 0;
}
.about-skill .design-wrap, .publishing-wrap {margin-right: 0.5rem;}
.about-skill .design-wrap .graph {background-color: #111 ; /* linear-gradient(0.25turn, #ffce9f, #ff849c) */;}
.about-skill .publishing-wrap .graph {background-color: #111;}
.about-skill .development-wrap .graph {background-color: #111;}
.graph {width: 0;}

/************************* about-contact ***************************/
.about-contact {margin-right: 3rem;}